<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/layout.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
        </style>
    <title>NEW</title>
</head>

<body>
    <form action="/searches/show" method="GET">
        <input type="text" id="AuthororTitle" name="AuthororTitle" placeholder="enter you title or author"> <br>
        <input type="radio" id="title" name="title" value=" title ">
        <label for="title">Title</label> <br>
        <input type="radio" id="author" name="title" value="author">
        <label for="author">Author</label><br>
        <button>search for book api</button>
    </form>


</body>

</html>