<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/modules.css">
</head>

<body>
    
    <main>
        <nav>
            <a href="/">Home</a>
            <a href="/searches/new">search book</a>
        </nav>
        <h1>Something Went Wrong</h1>
        <img id="error"
            src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fuxdesign.cc%2Fhow-to-design-a-404-error-page-that-keeps-users-on-your-site-f3443a980ece&psig=AOvVaw01hz3RyLingW_3XsDa3-Aw&ust=1618353693987000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCKDW977j-e8CFQAAAAAdAAAAABAD"
            alt="">
    </main>

</body>

</html>